Repository CryptoBlades/cryptoblades, pull requests merged in 2021-08, with the labels that each got.

#551 fix(combat): when validating targets, disable fight button
  frontend/src/views/Combat.vue
Labels: type-frontend

#600 Market slicing view
  contracts/NFTMarket.sol
  migrations/60_market_slicing_view.js
Labels: type-solidity

#589 Add shields.sol
  contracts/Blacksmith.sol
  contracts/Promos.sol
  contracts/cryptoblades.sol
  contracts/shields.sol
  frontend/src/contract-call-utils.ts
  frontend/src/store.ts
  migrations/62_TBD_shields.js
Labels: priority-high

#602 Skill shop with shield
  frontend/src/assets/shield1.png
  frontend/src/components/NftIcon.vue
  frontend/src/components/smart/NftList.vue
  frontend/src/contract-models.ts
  frontend/src/contracts.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/interfaces/Nft.ts
  frontend/src/interfaces/Shield.ts
  frontend/src/interfaces/State.ts
  frontend/src/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Market.vue
Labels: priority-high

#633 fix(combat) - Disallow invalid fight
  frontend/src/views/Combat.vue
Labels: type-frontend

#545 Introduce add and change fees to NFTMarket
  contracts/NFTMarket.sol
Labels: priority-medium, type-solidity

#621 Remove xp updating from mintWeapon and mintWeaponN in store.ts
  frontend/src/store.ts
Labels: priority-low, type-frontend

#676 trait change events fix
  contracts/CharacterEarthTraitChangeConsumables.sol
  contracts/CharacterFireTraitChangeConsumables.sol
  contracts/CharacterLightningTraitChangeConsumables.sol
  contracts/CharacterWaterTraitChangeConsumables.sol
Labels: type-solidity

#616 ERC20 recover ability to blacksmith
  contracts/Blacksmith.sol
Labels: type-solidity

#622 Remove requestPayFromPlayer() modifier
  contracts/cryptoblades.sol
Labels: enhancement, priority-low, type-solidity

#625 Unlikely weapon tracking
  contracts/Blacksmith.sol
  contracts/cryptoblades.sol
Labels: type-solidity

#632 Add featuresEnabled with BIT_FEATURE_TRANSFER
  contracts/weapons.sol
Labels: type-solidity
