Repository CryptoBlades/cryptoblades, pull requests merged in 2021-09, with the labels that each got.

#718 added boss power % setting to raids
  contracts/raid1.sol
Labels: type-solidity

#721 raid-and-weapon-ui-fixes
  frontend/src/components/CurrencyConverter.vue
  frontend/src/components/WeaponIcon.vue
  frontend/src/views/Raid.vue
Labels: bug

#693 Improve gas usage of isEligibleForReward()
  contracts/raid1.sol
Labels: enhancement

#691 Stop deduction and transfer of zero in _deductPlayerSkillStandard()
  contracts/cryptoblades.sol
Labels: bug

#731 730-market-filters-broken
  frontend/src/views/Market.vue
Labels: bug, type-frontend

#553 Fix character minting approve amount
  contracts/cryptoblades.sol
  frontend/src/contract-call-utils.ts
  frontend/src/store.ts
Labels: type-frontend, type-solidity

#735 Shrink main contract
  contracts/cryptoblades.sol
  contracts/raid.sol
  contracts/raidBasic.sol
Labels: type-solidity

#732 New payout formula
  contracts/cryptoblades.sol
  migrations/81_hourly_payout_formula.js
Labels: priority-high, type-solidity

#751 Add raidIndex to raid boss title
  frontend/src/views/Raid.vue
Labels: type-frontend
