Repository CryptoBlades/cryptoblades, pull requests merged in 2022-03, with the labels that each got.

#1200 Minor quests fixes
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
Labels: pr-frontend

#1201 mobile adjustments in blacksmith and special forge
  frontend/src/components/smart/SpecialWeaponForgeModal.vue
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1203 remove unnecessary interval that potentially causes lags
  frontend/src/components/smart/NftList.vue
Labels: pr-frontend

#1204 Display busy banner when char in pvp/busy
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/interfaces/Nft.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
Labels: pr-frontend

#1206 Center reputation
  frontend/src/components/smart/QuestReward.vue
Labels: pr-frontend

#1207 fix bridging weapon type
  contracts/weapons.sol
Labels: pr-solidity

#1205 Feat/pvp tweaks
  contracts/PvpArena.sol
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaInfo.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  test/pvp-arena.js
Labels: pr-frontend, pr-solidity

#1214 Quests final touches
  frontend/.env.mainnet
  frontend/src/assets/raid.png
  frontend/src/assets/stamina.png
  frontend/src/components/smart/QuestComponentIcon.vue
  migrations/135_quests_weekly.js
Labels: pr-frontend

#1213 spintop partner information
  frontend/partners.json
  frontend/src/assets/partners/spintop.png
Labels: pr-frontend

#1216 check if specialWeaponsManager is deployed
  frontend/src/contracts.ts
Labels: pr-frontend

#1217 Show dust type, reset tokens on hide
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
Labels: pr-frontend

#1219 Hide fix
  frontend/src/components/smart/QuestSubmissionModal.vue
Labels: pr-frontend

#1220 Null check
  frontend/src/components/smart/QuestRequirements.vue
Labels: pr-frontend

#1221 Dust requirement fix
  frontend/src/components/smart/QuestRequirements.vue
Labels: pr-frontend

#1223 Weekly claim disabled fix
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1225 Don't allow exceeding nfts, add padding for mobile usage
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1226 Refresh dust and other amounts after submit/complete quest
  frontend/src/store.ts
Labels: pr-frontend

#1224 Adjust mintCharacter()
  contracts/cryptoblades.sol
Labels: pr-solidity

#1228 Quests fixes
  contracts/SimpleQuests.sol
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestReward.vue
  frontend/src/locales/en.json
  frontend/src/views/Quests.vue
  migrations/139_simple_quests_upgrade.js
Labels: pr-frontend, pr-solidity

#1229 Feat/pvp tweaks and bonus rank formulas
  contracts/PvpArena.sol
  contracts/common.sol
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/contract-models.ts
  frontend/src/locales/en.json
Labels: pr-frontend, pr-solidity

#1240 replace pluto alliance image
  frontend/src/assets/special-weapons/pluto-alliance.png
Labels: pr-frontend

#979 bulk staking
  contracts/CBKLandT1StakingRewardsUpgradeable.sol
  contracts/CBKLandT2StakingRewardsUpgradeable.sol
  contracts/CBKLandT3StakingRewardsUpgradeable.sol
  contracts/staking/NftStakingRewardsUpgradeable.sol
  contracts/staking/interfaces/INftStakingRewards.sol
  frontend/src/components/smart/Staking.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Stake.vue
  migrations/141_bulk_staking.js
  package-lock.json
  package.json
Labels: pr-frontend, pr-solidity

#1232 Add transfer UI for Junk, KeyLootBox, RaidTrinket, Shield
  frontend/src/components/smart/NftList.vue
  frontend/src/store.ts
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1235 incrementQuestProgress() automatically invokes generateRewardQuestSeed()
  contracts/SimpleQuests.sol
Labels: pr-solidity

#1234 Add Garrison.transferFromGarrison()
  contracts/Garrison.sol
Labels: pr-solidity

#1238 fix minting with staked NGA error
  contracts/cryptoblades.sol
Labels: pr-solidity

#1108 Add getDefenseMultiplierForTrait() variant to shields.sol
  contracts/PvpArena.sol
  contracts/shields.sol
Labels: pr-solidity

#1243 Add UI for transferFromGarrison() method
  frontend/src/components/smart/CharacterList.vue
  frontend/src/store.ts
Labels: pr-frontend

#1236 Add UI for soul transfer
  frontend/src/components/NftOptionsDropdown.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Plaza.vue
Labels: pr-frontend

#1255 Show error message when attempting to raid with insufficient funds.
  frontend/src/locales/en.json
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1252 Don't use precision on the ratio in the claim rewards bar, so the claimable value is correct.
  frontend/src/components/smart/ClaimRewardsBar.vue
Labels: pr-frontend

#1245 Fix weekly timer, refresh data on 0
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1258 Heco giveaway
  contracts/partner-giveaways/PartnerGiveaways.sol
  frontend/app-config.json
  frontend/special-weapons.json
  frontend/src/assets/special-weapons/heco-sword.png
  frontend/src/assets/special-weapons/pluto-alliance-sword.png
  frontend/src/views/Blacksmith.vue
  frontend/src/weapon-arts-placeholder.ts
  migrations/143_partner_giveaway.js
Labels: pr-frontend, pr-solidity

#1247 add function to increase rankings pool by tier
  contracts/PvpArena.sol
  test/pvp-arena.js
Labels: pr-solidity

#1120 Feat/pvp ranked rewards on burnt chars
  contracts/PvpArena.sol
  test/helpers/index.js
  test/pvp-arena.js
Labels: pr-solidity

#1143 1142-generic-nft-bridge
  contracts/CharactersBridgeProxyContract.sol
  contracts/NFTStorage.sol
  contracts/ShieldBridgeProxyContract.sol
  contracts/WeaponBridgeProxyContract.sol
  contracts/interfaces/IBridgeProxy.sol
  migrations/144_bot_2po.js
Labels: pr-solidity, type-solidity

#1192 Navbar - new ui + right menu
  .gitignore
  frontend/public/global.css
  frontend/src/App.vue
  frontend/src/assets/cb-logo.png
  frontend/src/assets/navbar-icons/Close.png
  frontend/src/assets/navbar-icons/arena-icon.png
  frontend/src/assets/navbar-icons/bazaar-icon.png
  frontend/src/assets/navbar-icons/blacksmith-icon.png
  frontend/src/assets/navbar-icons/bridge-icon.png
  frontend/src/assets/navbar-icons/burger-menu.png
  frontend/src/assets/navbar-icons/combat-icon.png
  frontend/src/assets/navbar-icons/gear-icon.png
  frontend/src/assets/navbar-icons/leaderboard-icon.png
  frontend/src/assets/navbar-icons/plaza-icon.png
  frontend/src/assets/navbar-icons/quests-icon.png
  frontend/src/assets/navbar-icons/raid-icon.png
  frontend/src/assets/navbar-icons/skill-token.png
  frontend/src/assets/navbar-icons/stake-icon.png
  frontend/src/assets/navbar-icons/treasury-icon.png
  frontend/src/assets/navbar-icons/wiki-icon.png
  frontend/src/components/NavBar.vue
  frontend/src/components/Options.vue
  frontend/src/components/P2EButton.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/ClaimRewardsBar.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/router.ts
  frontend/src/store.ts
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1264 Admin panel permissions fix, spacing on rewards bar
  frontend/src/components/smart/ClaimRewardsBar.vue
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1259 Hide ads in development, allow higher stars nfts for quests submission
  contracts/SimpleQuests.sol
  frontend/src/App.vue
  frontend/src/components/CombatResults.vue
  frontend/src/components/smart/NftList.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/views/Plaza.vue
  migrations/144_quests_req_rarity_or_higher.js
Labels: pr-frontend, pr-solidity

#1265 Quest seed fix
  contracts/SafeRandoms.sol
  contracts/SimpleQuests.sol
  migrations/146_quest_seed_fix.js
Labels: pr-solidity

#1260 make tokenURI work for our NFTs
  contracts/characters.sol
  contracts/items/Junk.sol
  contracts/items/KeyLootbox.sol
  contracts/items/RaidTrinket.sol
  contracts/shields.sol
  contracts/weapons.sol
  migrations/145_token_uris.js
Labels: pr-solidity

#1272 Enable scroll on side menu mobile
  frontend/src/components/Options.vue
Labels: pr-frontend

#1248 Remove unused burnWeapon() method from store.ts
  frontend/src/store.ts
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend, priority-low

#1276 SafeRandoms single seed salt fix
  contracts/SafeRandoms.sol
  migrations/148_single_seed_salt_fix.js
Labels: type-solidity

#1285 Add Quest submission disclaimer
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1281 Restore Nft Display, fix quest submission initial filer on 1 star
  frontend/src/assets/navbar-icons/nft-display.svg
  frontend/src/assets/navbar-icons/shopping-bag.svg
  frontend/src/components/Options.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1279 Safe transfer from garrison
  contracts/Garrison.sol
  contracts/characters.sol
  migrations/150_safe_transfer_from_garrison.js
Labels: pr-solidity

#1289 Fixed display issues for new sidebar + combat page
  frontend/src/App.vue
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1295 add option to set weapons aside for giveaways
  contracts/SpecialWeaponsManager.sol
  migrations/151_upgrade_special_weapons.js
Labels: pr-solidity

#1302 Some boring PR
  frontend/src/assets/enemies/april_fools/archer.png
  frontend/src/assets/enemies/april_fools/baghead.png
  frontend/src/assets/enemies/april_fools/banan_cut.png
  frontend/src/assets/enemies/april_fools/cat.png
  frontend/src/assets/enemies/april_fools/cavalry.png
  frontend/src/assets/enemies/april_fools/demoman.png
  frontend/src/assets/enemies/april_fools/hedgehog.png
  frontend/src/assets/enemies/april_fools/jedi.png
  frontend/src/assets/enemies/april_fools/knight.png
  frontend/src/assets/enemies/april_fools/monk.png
  frontend/src/assets/enemies/april_fools/ogre.png
  frontend/src/assets/enemies/april_fools/rid.png
  frontend/src/assets/enemies/april_fools/sniper.png
  frontend/src/assets/enemies/april_fools/spider.png
  frontend/src/assets/raid-bosses/april_fools/brute.png
  frontend/src/assets/raid-bosses/april_fools/sad_hat_guy.png
  frontend/src/assets/raid-bosses/april_fools/shaman.png
  frontend/src/assets/raid-bosses/christmas/Jestinsane.gif
  frontend/src/assets/raid-bosses/christmas/KocuZe.gif
  frontend/src/assets/raid-bosses/christmas/KokMhei.gif
  frontend/src/assets/raid-bosses/christmas/Krypton.gif
  frontend/src/assets/raid-bosses/christmas/Melics.gif
  frontend/src/assets/raid-bosses/halloween/CB_Hellborn M13.gif
  frontend/src/assets/raid-bosses/halloween/CB_Hellborn Moneth.gif
  frontend/src/assets/raid-bosses/halloween/CB_Hellborn Plitszkin.gif
  frontend/src/assets/raid-bosses/halloween/CB_Hellborn Skulpin.gif
  frontend/src/assets/raid-bosses/halloween/CB_Hellborn Ste1n.gif
  frontend/src/enemy-art.ts
  frontend/src/raid-boss-art-placeholder.ts
  frontend/src/views/Combat.vue
Labels: pr-frontend
