Repository CryptoBlades/cryptoblades, pull requests merged in 2022-09, with the labels that each got.

#1578 SafeRandoms in shields and weapons minting
  contracts/Blacksmith.sol
  contracts/cryptoblades.sol
  frontend/src/components/BlacksmithNav.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
  frontend/src/enums/Element.ts
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  migrations/186_safe_randoms_minting.js
  migrations/95_merch_store.js
Labels: pr-frontend, pr-solidity

#1595 fix 10x forge button skill cost
  frontend/src/components/BlacksmithNav.vue
Labels: pr-frontend

#1609 add reforged toggle
  frontend/src/components/smart/WeaponGrid.vue
Labels: pr-frontend

#1608 Link to drawBridge on 'Buy Skill' - Btn
  frontend/src/components/smart/SkillBalanceDisplay.vue
Labels: pr-frontend

#1611 Fix quests refreshes
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1610 add balance display
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/store/store.ts
Labels: pr-frontend

#1612 Earnings calc
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/EarningsCalculator.vue
  frontend/src/locales/en.json
  frontend/src/store/treasury/index.ts
Labels: pr-frontend

#1628 fix hint icon
  frontend/src/components/smart/QuestRequirements.vue
Labels: pr-frontend

#1626 1625-cbkland-nft-bridge-proxy
  contracts/CBKLand.sol
  contracts/CBKLandBridgeProxyContract.sol
  migrations/188_bridge_cbkland_proxy.js
Labels: pr-solidity

#1635 Remove No fresh lookup functionality
  contracts/characters.sol
  contracts/shields.sol
  contracts/weapons.sol
  migrations/189_remove_no_fresh_lookup.js
Labels: pr-solidity

#1633 added condition to display error message
  frontend/src/App.vue
Labels: pr-frontend

#1634 Fix refreshes after joining raid, unselect weapon
  frontend/src/App.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/components/WeaponIcon.vue
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/components/smart/PvPRewards.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/RoleGranter.vue
  frontend/src/components/smart/RoleRevoker.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/store/bridge/index.ts
  frontend/src/store/combat/index.ts
  frontend/src/store/quests/index.ts
  frontend/src/store/raid/index.ts
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Portal.vue
  frontend/src/views/Raid.vue
  scripts/verify-contracts.js
Labels: pr-frontend

#1642 Shields admin page
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/ShieldsAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1637 Updated Treasury design
  frontend/src/components/PartneredProject.vue
  frontend/src/views/Treasury.vue
Labels: pr-frontend

#1644 Fix delete quest template method
  contracts/SimpleQuests.sol
  migrations/192_delete_quest_template_fix.js
Labels: pr-solidity

#1647 Fight gas optimizations (pre-octoblades)
  contracts/characters.sol
  contracts/cryptoblades.sol
  contracts/weapons.sol
  migrations/193_fightop_preoctoblades.js
Labels: pr-solidity

#1657 Fix owned and staked land id fetching
  frontend/src/components/StakeSelectorItem.vue
Labels: pr-frontend

#1649 FIX: app contents pushed to bottom of screen at smaller widths
  frontend/src/components/smart/CharacterDisplay.vue
Labels: pr-frontend

#1645 Raid over/restarting information on frontend
  frontend/src/locales/en.json
  frontend/src/views/Dashboard.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1627 Fix stake depletion warning
  frontend/src/components/StakeSelectorItem.vue
Labels: pr-frontend

#1650 Quality of life improvements
  frontend/src/components/NftOptionsDropdown.vue
  frontend/src/components/smart/Character.vue
  frontend/src/store/store.ts
Labels: pr-frontend

#1654 Characters v2
  contracts/BurningManager.sol
  contracts/CBKLandBridgeProxyContract.sol
  contracts/CharactersBridgeProxyContract.sol
  contracts/JunkBridgeProxyContract.sol
  contracts/NFTStorage.sol
  contracts/ShieldBridgeProxyContract.sol
  contracts/Treasury.sol
  contracts/ValorERC20BridgeProxyContract.sol
  contracts/ValorToken.sol
  contracts/WeaponBridgeProxyContract.sol
  contracts/characters.sol
  contracts/cryptoblades.sol
  contracts/interfaces/IBridgeProxy.sol
  contracts/raid1.sol
  frontend/src/assets/characters/Archer.png
  frontend/src/assets/characters/Mage.png
  frontend/src/assets/characters/Paladin.png
  frontend/src/assets/characters/Spearman.png
  frontend/src/character-arts-placeholder.ts
  frontend/src/components/CharacterNav.vue
  frontend/src/components/CombatResults.vue
  frontend/src/components/Options.vue
  frontend/src/components/PartneredProject.vue
  frontend/src/components/smart/AdminTabs/TreasuryAdmin.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/components/smart/EarningsCalculator.vue
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/components/smart/PvPCharacter.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/components/smart/SpecialWeaponForgeModal.vue
  frontend/src/contract-models.ts
  frontend/src/interfaces/Character.ts
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/locales/id.json
  frontend/src/locales/pt.json
  frontend/src/store/combat/index.ts
  frontend/src/store/quests/index.ts
  frontend/src/store/staking/index.ts
  frontend/src/store/store.ts
  frontend/src/store/treasury/index.ts
  frontend/src/views/Bridge.vue
  frontend/src/views/Character.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Options.vue
  frontend/src/views/Plaza.vue
  frontend/src/views/Treasury.vue
  migrations/194_characters_v2.js
Labels: pr-frontend, pr-solidity
