Repository CryptoBlades/cryptoblades, pull requests merged in 2022-06, with the labels that each got.

#1446 Fixed Some issues in ui
  frontend/src/App.vue
  frontend/src/components/CardFrame.vue
  frontend/src/components/CardFrameToggled.vue
  frontend/src/components/CharacterBar.vue
  frontend/src/components/RightMenu.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/views/Blacksmith.vue
  frontend/src/views/PlayToEarn.vue
Labels: pr-frontend

#1456 rm merchandise code
  frontend/.env.local
  frontend/.env.mainnet
  frontend/.env.testnet
  frontend/src/App.vue
  frontend/src/api.ts
  frontend/src/components/Options.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/Merchandise.vue
  frontend/src/components/smart/MerchandiseCart.vue
  frontend/src/components/smart/MerchandiseList.vue
  frontend/src/components/smart/OrderSummaryModal.vue
  frontend/src/components/smart/ShippingInfoModal.vue
  frontend/src/components/smart/VariantChoiceModal.vue
  frontend/src/contracts.ts
  frontend/src/feature-flags.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/router.ts
  frontend/src/store/merchandise/index.ts
  frontend/src/store/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Options.vue
Labels: pr-frontend

#1445 Characters SafeTransferFrom try to transfer from garrison
  contracts/Garrison.sol
  contracts/characters.sol
  migrations/171_garrison_transfer_restore.js
Labels: pr-solidity

#1463 load character traits on mount and fixed character trait dropdown cou…
  frontend/src/assets/elements/Earth_Potion.png
  frontend/src/assets/elements/Fire_Potion.png
  frontend/src/assets/elements/Lightning_Potion.png
  frontend/src/assets/elements/Water_Potion.png
  frontend/src/components/NftOptionsDropdown.vue
  frontend/src/components/smart/Character.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1465 Launchpad upgrade
  contracts/Launchpad.sol
  migrations/163_launchpad_testnet.js
Labels: pr-solidity

#1458 Pickable quests
  contracts/SimpleQuests.sol
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
  migrations/175_pickable_quests.js
Labels: pr-frontend, pr-solidity, type-frontend, type-solidity

#1473 updated forge button
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1459 Fix weapon icon
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/smart/WeaponGridNew.vue
Labels: pr-frontend

#1479 fix + launchpad mainnet migration
  contracts/Launchpad.sol
  migrations/177_launchpad_mainnet.js
Labels: pr-solidity

#1476 UI bug fixes 02
  frontend/src/components/NftIcon.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/locales/en.json
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1481 Selection interface from character burning to weapon burning
  frontend/src/assets/check-round.svg
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1482 Grab reputation tiers
  frontend/src/components/CharacterArt.vue
Labels: pr-frontend

#1484 Revert Quests For FE deploy
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1485 Hotfix raid claiming
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1493 change nft display
  frontend/src/components/Options.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1426 Feature/refactor theme
  frontend/src/App.vue
  frontend/src/components/BigButton.vue
  frontend/src/components/CBButton.vue
  frontend/src/components/CharacterBar.vue
  frontend/src/components/CharacterNav.vue
  frontend/src/components/CombatResults.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/smart/AdminTabs/BlacksmithAdmin.vue
  frontend/src/components/smart/AdminTabs/BurningManagerAdmin.vue
  frontend/src/components/smart/AdminTabs/CBKLandAdmin.vue
  frontend/src/components/smart/AdminTabs/CryptoBladesAdmin.vue
  frontend/src/components/smart/AdminTabs/PartnerVaultAdmin.vue
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/AdminTabs/RaidAdmin.vue
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/components/smart/AdminTabs/TreasuryAdmin.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/CharacterList.vue
  frontend/src/components/smart/NftList.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/components/smart/RoleGranter.vue
  frontend/src/components/smart/RoleRevoker.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/main.ts
  frontend/src/scss/app.scss
  frontend/src/views/Admin.vue
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Bridge.vue
  frontend/src/views/Character.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Options.vue
  frontend/src/views/PlayToEarn.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend, new-game-ui

#1502 added loader to Forge Button Initialization
  frontend/src/components/BigButton.vue
  frontend/src/components/BlacksmithNav.vue
  frontend/src/components/CBButton.vue
  frontend/src/components/Loader.vue
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1496 Skeleton loader on staking
  frontend/src/components/SkeletonLoader.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/views/Blacksmith.vue
  frontend/src/views/SelectStakeType.vue
Labels: pr-frontend

#1507 UI bug fix 3
  frontend/src/App.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Quests.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend
