Repository CryptoBlades/cryptoblades, pull requests merged in 2022-05, with the labels that each got.

#1340 New game UI weapon page
  frontend/src/App.vue
  frontend/src/assets/blacksmith/blacksmith-bg.png
  frontend/src/assets/blacksmith/cb-reforge-bg.jpg
  frontend/src/assets/blacksmith/enchant.svg
  frontend/src/assets/blacksmith/favorite_icon.svg
  frontend/src/assets/blacksmith/filter.svg
  frontend/src/assets/blacksmith/forge-icon.png
  frontend/src/assets/blacksmith/forge.png
  frontend/src/assets/blacksmith/hammer.png
  frontend/src/assets/blacksmith/hammer.svg
  frontend/src/assets/blacksmith/inner-circle.png
  frontend/src/assets/blacksmith/lock-icon.svg
  frontend/src/assets/blacksmith/menu.svg
  frontend/src/assets/blacksmith/outer-circle.png
  frontend/src/assets/blacksmith/reforge.png
  frontend/src/assets/blacksmith/reforge.svg
  frontend/src/assets/blacksmith/s.svg
  frontend/src/assets/blacksmith/salvage.png
  frontend/src/assets/blacksmith/skin.svg
  frontend/src/assets/blacksmith/special.png
  frontend/src/assets/blacksmith/upgrade.svg
  frontend/src/assets/blacksmith/x1.png
  frontend/src/assets/blacksmith/x1.svg
  frontend/src/assets/blacksmith/x10.png
  frontend/src/assets/blacksmith/x10.svg
  frontend/src/assets/placeholder/weapon1.png
  frontend/src/assets/placeholder/weapon2.png
  frontend/src/assets/placeholder/weapon3.png
  frontend/src/assets/placeholder/weapon4.png
  frontend/src/assets/placeholder/weapon5.png
  frontend/src/assets/placeholder/weapon6.png
  frontend/src/assets/placeholder/weapon7.png
  frontend/src/components/RightMenu.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Plaza.vue
  frontend/src/weapon-arts-placeholder.ts
Labels: pr-frontend

#1360 Grab Bazaar url from config
  frontend/.env.local
  frontend/.env.mainnet
  frontend/.env.testnet
  frontend/src/components/ViewLinks.vue
  frontend/src/views/NftDisplay.vue
Labels: pr-frontend

#1249 Audit and fix approval logic in store.ts
  frontend/src/contract-call-utils.ts
  frontend/src/store/bridge/index.ts
  frontend/src/store/merchandise/index.ts
  frontend/src/store/pvp/index.ts
  frontend/src/store/store.ts
Labels: pr-frontend, priority-medium

#1361 updated ui for combat initial weapon select and applied dark ui for …
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/contract-call-utils.ts
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1357 Issue 1284-3
  frontend/.env.local
  frontend/.env.mainnet
  frontend/.env.testnet
  frontend/src/App.vue
  frontend/src/components/Options.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/NftList.vue
  frontend/src/components/smart/Staking.vue
  frontend/src/contracts.ts
  frontend/src/feature-flags.ts
  frontend/src/interfaces/State.ts
  frontend/src/main.ts
  frontend/src/router.ts
  frontend/src/store/land/index.ts
  frontend/src/store/raid/index.ts
  frontend/src/store/staking/index.ts
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/PlayToEarn.vue
  frontend/src/views/SelectStakeType.vue
  frontend/src/views/Stake.vue
Labels: pr-frontend

#1362 Cb launchpad
  contracts/Launchpad.sol
  contracts/common.sol
Labels: pr-solidity

#1364 Contract addresses from json
  .github/workflows/lint.yml
  frontend/src/contracts.ts
  package.json
Labels: pr-frontend

#1349 Charge native token fee on combat
  contracts/TokensManager.sol
  contracts/cryptoblades.sol
  frontend/src/contracts.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/store/store.ts
  frontend/src/views/Combat.vue
  migrations/163_tokens_manager.js
  migrations/164_cb_upgrade.js
Labels: pr-frontend, pr-solidity

#1372 Fix pr 1349
  frontend/src/contracts.ts
  frontend/src/store/store.ts
  package.json
Labels: pr-frontend

#1369 Fix: bsc to bnb
  frontend/src/App.vue
  frontend/src/components/Options.vue
  frontend/src/components/smart/OrderSummaryModal.vue
  frontend/src/contracts.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/views/Bridge.vue
  frontend/src/views/Leaderboard.vue
  frontend/src/views/Options.vue
Labels: pr-frontend

#1373 check if tokensManager is deployed
  frontend/src/contracts.ts
Labels: pr-frontend

#1366 remove 'incoming' bridge tab
  frontend/src/interfaces/Nft.ts
  frontend/src/locales/en.json
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
Labels: pr-frontend

#1365 Quick fix for namespacing land module
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/store/land/index.ts
Labels: pr-frontend

#1376 check if chain is support on load
  frontend/src/App.vue
  frontend/src/contracts.ts
Labels: pr-frontend

#1381 Remove Promo Banner
  frontend/src/App.vue
Labels: pr-frontend

#1383 add testnet supported chains
  frontend/src/App.vue
  frontend/src/views/Bridge.vue
  frontend/src/views/Options.vue
Labels: pr-frontend

#1379 Add wallet connect
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/contracts.ts
  frontend/src/locales/en.json
  frontend/src/main.ts
  frontend/src/store/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Options.vue
Labels: pr-frontend

#1378 Set default settings earlier
  frontend/src/App.vue
Labels: pr-frontend

#1334 handle players in the old pvp arena contract
  frontend/src/components/smart/PvPArena.vue
  frontend/src/locales/en.json
  frontend/src/store/pvp/index.ts
  frontend/src/store/store.ts
Labels: pr-frontend

#1386 Revert "Merge pull request #1349 from CryptoBlades/feat/tokens-prices…
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1380 add slippage margin to offset
  contracts/TokensManager.sol
  migrations/166_tokens_manager_slippage.js
Labels: pr-solidity

#1387 Fix Heco requiring 0.113H to load characters
  frontend/src/store/pvp/index.ts
Labels: pr-frontend

#1389 Fix Heco approvals not initiating
  frontend/src/contract-call-utils.ts
  frontend/src/store/bridge/index.ts
  frontend/src/store/merchandise/index.ts
  frontend/src/store/pvp/index.ts
  frontend/src/store/raid/index.ts
  frontend/src/store/store.ts
Labels: pr-frontend

#1390 fix web3 injection
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
Labels: pr-frontend

#1392 correctly display muted rank loss on front end
  frontend/src/components/smart/PvPArenaMatchMaking.vue
Labels: pr-frontend

#1393 fix needing a browser refresh after a duel
  frontend/src/components/smart/PvPArenaMatchMaking.vue
Labels: pr-frontend

#1394 fix supported chains on testnet
  frontend/src/contracts.ts
Labels: pr-frontend

#1382 Feat/character UI
  frontend/src/App.vue
  frontend/src/assets/artwork-fantasy-art-ruins.png
  frontend/src/assets/dusts/soulIcon.svg
  frontend/src/assets/edit-icon.svg
  frontend/src/components/Character.vue
  frontend/src/components/CharacterNav.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterTabs/OptionsTab.vue
  frontend/src/components/smart/CharacterTabs/SkinsTab.vue
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/locales/en.json
  frontend/src/router.ts
  frontend/src/views/Character.vue
Labels: pr-frontend

#1395 set base power as level 1 on ffa arena
  contracts/PvpCore.sol
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaInfo.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/store/pvp/index.ts
  migrations/168_pvp_core_upgrade.js
Labels: pr-frontend, pr-solidity

#1398 Fix cosmetic bug
  frontend/src/App.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/WeaponPopover.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1402 Revert "Enrex widget"
  frontend/src/App.vue
  frontend/src/components/EnrexWidget.vue
Labels: pr-frontend

#1406 New languages
  frontend/src/locales/id.json
  frontend/src/locales/ms.json
  frontend/src/locales/nl.json
  frontend/src/locales/pt.json
  frontend/src/views/Options.vue
Labels: pr-frontend

#1407 Switch account fix
  frontend/src/App.vue
  frontend/src/main.ts
  frontend/src/store/store.ts
  frontend/src/utils/common.ts
Labels: pr-frontend

#1410 Feat/pvp tweak ffa formulas
  contracts/PvpCore.sol
  contracts/common.sol
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  migrations/169_pvp_core_upgrade_2.js
Labels: pr-frontend, pr-solidity

#1293 Feat/pvp withdrawal penalty
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/locales/en.json
  frontend/src/store/pvp/index.ts
Labels: pr-frontend

#1411 Add FFA leaderboard and use them as the default
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPLeaderboards.vue
Labels: pr-frontend

#1412 Show winrate when over 50%
  frontend/src/components/smart/PvPArenaMatchMaking.vue
Labels: pr-frontend

#1415 safety measures
  contracts/Launchpad.sol
Labels: pr-solidity

#1420 Grab shield art from NftVars
  frontend/src/components/NftIcon.vue
  frontend/src/components/smart/PvPShield.vue
  frontend/src/store/store.ts
Labels: pr-frontend

#1396 +restaking
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1425 display ffa pools as well as character's current tier pool
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaInfo.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
Labels: pr-frontend

#1428 Fix FE Multiplier issue
  frontend/src/components/smart/ClaimRewardsBar.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
Labels: pr-frontend

#1427 Fix Special weapons
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/WeaponPopover.vue
Labels: pr-frontend

#1429 Update stam on combat
  frontend/src/components/CombatResults.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/store/store.ts
  frontend/src/views/Character.vue
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1433 Anniversary igo bonus
  contracts/cryptoblades.sol
  migrations/170_anniversary_igo.js
Labels: pr-solidity, type-solidity

#1434 separate igo and unclaimed on fight rewards
  frontend/src/components/CombatResults.vue
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1432 Frontend fixes
  frontend/src/components/ViewLinks.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1439 allow only wallet funds on approval
  frontend/src/store/store.ts
Labels: pr-frontend

#1438 Skill reward message issue
  frontend/src/components/CombatResults.vue
Labels: pr-frontend

#1440 Add 'imcoming NFTs' tab on bridge again
  frontend/src/interfaces/Nft.ts
  frontend/src/locales/en.json
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
Labels: pr-frontend

#1451 Allow IGO (and staked) for blacksmith (skill shop) payments
  contracts/Blacksmith.sol
  migrations/171_skillshop_igo_and_staked.js
Labels: pr-solidity

#1441 fix character switching and unrequired modifier
  contracts/PvpCore.sol
  frontend/src/components/smart/PvPArena.vue
Labels: pr-frontend, pr-solidity

#1449 Set soul multiplier through admin panel
  frontend/src/components/smart/AdminTabs/BurningManagerAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store/store.ts
Labels: pr-frontend

#1452 add 2 more functions to make sure there are no mistakes
  contracts/PvpRankings.sol
Labels: pr-solidity

#1431 rework forging a bit
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1436 rm victory chance + clean up raid
  frontend/src/locales/en.json
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1444 New character designs by element
  frontend/src/assets/characters/KnightEarth.png
  frontend/src/assets/characters/KnightFire.png
  frontend/src/assets/characters/KnightLightning.png
  frontend/src/assets/characters/KnightWater.png
  frontend/src/character-arts-placeholder.ts
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/components/smart/PvPCharacter.vue
  frontend/src/components/smart/PvPDuel.vue
  frontend/src/components/smart/PvPStats.vue
Labels: pr-frontend

#1437 Fix char mobile view
  frontend/src/assets/garisson.png
  frontend/src/components/CharacterNav.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Character.vue
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1454 New game UI soul transfer
  frontend/src/App.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterTabs/OptionsTab.vue
  frontend/src/components/smart/CharacterTabs/SkinsTab.vue
  frontend/src/locales/en.json
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1397 Homepage
  frontend/src/assets/background/adventure-bg.png
  frontend/src/assets/background/arena-bg.png
  frontend/src/assets/background/dashboard-bg.png
  frontend/src/assets/background/raid-bg.png
  frontend/src/components/NavBar.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/locales/en.json
  frontend/src/router.ts
  frontend/src/views/Dashboard.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend
