Repository CryptoBlades/cryptoblades, pull requests merged in 2022-08, with the labels that each got.

#1561 Bugfixes
  frontend/.env.local
  frontend/src/components/CBButton.vue
  frontend/src/components/CharacterArt.vue
  frontend/src/components/Options.vue
  frontend/src/components/smart/AdminTabs/BlacksmithAdmin.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterList.vue
  frontend/src/components/smart/CharacterTabs/SkinsTab.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/enums/CharacterCosmetic.ts
  frontend/src/enums/WeaponCosmetic.ts
  frontend/src/locales/en.json
  frontend/src/locales/id.json
  frontend/src/locales/pt.json
  frontend/src/styles/weapon-cosmetics.css
  frontend/src/views/Combat.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1562 Bug hunt
  frontend/src/components/smart/PvPCharacter.vue
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1564 Join raid button on mobile fix
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1565 fix fight results
  frontend/src/store/store.ts
Labels: pr-frontend

#1567 Special weapons images fix
  frontend/src/components/NftIcon.vue
  frontend/src/components/WeaponIcon.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/WeaponPopover.vue
  frontend/src/components/smart/PvPWeapon.vue
Labels: pr-frontend

#1568 Refactor: Move all contract calls from .vue files to store.ts
  README.md
  frontend/src/App.vue
  frontend/src/store/bridge/index.ts
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Bridge.vue
  frontend/src/views/Plaza.vue
  package-lock.json
Labels: pr-frontend

#1575 replace tx.origin with msg.sender passed in argument
  contracts/PvpCore.sol
  contracts/PvpRankings.sol
  contracts/TokensManager.sol
  contracts/cryptoblades.sol
  frontend/src/store/store.ts
  migrations/183_nft_renting_patch.js
Labels: pr-frontend, pr-solidity

#1480 Special (Pickable) quests + Wallet Quests
  contracts/PartnerVault.sol
  contracts/SimpleQuests.sol
  contracts/cryptoblades.sol
  frontend/src/assets/partners/BLST.png
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/components/smart/QuestsList.vue
  frontend/src/data/questItems.json
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
  migrations/184_pickable_quests_fix.js
  migrations/2_development_deploy_contracts.js
Labels: pr-frontend, pr-solidity

#1580 Show character as external nft
  frontend/src/assets/partners/character.png
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/data/questItems.json
Labels: pr-frontend

#1581 Quests fix
  frontend/src/components/smart/QuestComponentIcon.vue
Labels: pr-frontend

#1582 Example metadata
  frontend/src/data/questItems.json
Labels: pr-frontend

#1584 Quests
  frontend/src/data/questItems.json
  frontend/src/store/quests/index.ts
  frontend/src/store/store.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1585 Busd metadata
  frontend/src/assets/partners/BUSD.png
  frontend/src/data/questItems.json
Labels: pr-frontend

#1571 Fix: 1568
  frontend/src/views/Bridge.vue
Labels: pr-frontend

#1570 lockfileVersion->2
  .github/workflows/lint.yml
  frontend/package-lock.json
  package-lock.json
Labels: pr-frontend

#1577 Refactors
  frontend/src/App.vue
  frontend/src/components/CombatResults.vue
  frontend/src/components/WeaponIcon.vue
  frontend/src/components/WeaponIconNew.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/WeaponPopover.vue
  frontend/src/components/smart/AdminTabs/CryptoBladesAdmin.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/CharacterTabs/UpgradeTab.vue
  frontend/src/components/smart/EarningsCalculator.vue
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/components/smart/WeaponGridNew.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/contract-models.ts
  frontend/src/interfaces/State.ts
  frontend/src/interfaces/Weapon.ts
  frontend/src/store/combat/index.ts
  frontend/src/store/quests/index.ts
  frontend/src/store/staking/index.ts
  frontend/src/store/store.ts
  frontend/src/store/treasury/index.ts
  frontend/src/views/Character.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Dashboard.vue
  frontend/src/views/Plaza.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend, help wanted

#1597 +skale instructions
  frontend/src/locales/en.json
Labels: pr-frontend

#1596 Apply new design to context menu dropdown
  frontend/src/components/NavBar.vue
  frontend/src/components/NftOptionsDropdown.vue
Labels: pr-frontend

#1602 Add drawbridge to hamburger menu
  frontend/.env.local
  frontend/.env.mainnet
  frontend/.env.testnet
  frontend/src/App.vue
  frontend/src/assets/navbar-icons/drawbridge-icon.png
  frontend/src/components/Hint.vue
  frontend/src/components/Options.vue
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Options.vue
Labels: pr-frontend

#1605 Quests improvements
  frontend/src/assets/partners/PVU.png
  frontend/src/data/questItems.json
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1606 Show quests supply
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestRow.vue
Labels: pr-frontend
