Repository CryptoBlades/cryptoblades, pull requests merged in 2022-04, with the labels that each got.

#1305 hotfix some combat ui issues
  frontend/src/App.vue
  frontend/src/assets/combat-bg.png
  frontend/src/locales/en.json
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1307 bg to combat
  frontend/src/App.vue
  frontend/src/assets/combat-bg.png
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1308 Reverts boring PR
  frontend/src/enemy-art.ts
  frontend/src/raid-boss-art-placeholder.ts
Labels: pr-frontend

#1290 Store Treasury PartnerProject data on-chain + Admin Tab
  contracts/Treasury.sol
  frontend/partners.json
  frontend/src/components/Options.vue
  frontend/src/components/PartneredProject.vue
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/TreasuryAdmin.vue
  frontend/src/components/smart/ClaimRewardsBar.vue
  frontend/src/contract-models.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Admin.vue
  frontend/src/views/Options.vue
  frontend/src/views/Treasury.vue
  migrations/151_treasury_partner_data_on_chain.js
Labels: pr-frontend, pr-solidity

#1314 Claimed fix
  frontend/src/components/PartneredProject.vue
Labels: pr-frontend

#1315 Add special weapons manager admin tab
  frontend/app-config.json
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/locales/en.json
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1316 Hide reputation indicator when max tier
  frontend/src/components/smart/QuestCharacter.vue
Labels: pr-frontend

#1294 Admin panel enhancements
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/BlacksmithAdmin.vue
  frontend/src/components/smart/AdminTabs/CryptoBladesAdmin.vue
  frontend/src/components/smart/AdminTabs/RaidAdmin.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1313 manual event option
  contracts/SpecialWeaponsManager.sol
  migrations/154_upgrade_special_weapons.js
Labels: pr-solidity

#1309 Update leaderboard link in the UI.
  frontend/src/views/Leaderboard.vue
Labels: pr-frontend

#1312 embed apeswap + transak
  frontend/app-config.json
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/store.ts
Labels: pr-frontend

#1321 Quests weekly rework
  contracts/SimpleQuests.sol
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Quests.vue
  migrations/155_weekly_rewards_for_each_week.js
Labels: pr-frontend, pr-solidity

#1292 Dynamic mint prices
  contracts/cryptoblades.sol
  frontend/src/App.vue
  frontend/src/contract-call-utils.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Plaza.vue
  migrations/156_dynamic_prices.js
Labels: pr-frontend, pr-solidity

#1275 Use the app config from the cdn.
  frontend/.gitignore
  frontend/app-config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/setup-app-config.js
  frontend/src/utils/common.ts
  package.json
Labels: pr-frontend

#1325 Special weapons on chain
  contracts/SpecialWeaponsManager.sol
  frontend/special-weapons.json
  frontend/src/assets/special-weapons/blazing-mane.png
  frontend/src/assets/special-weapons/heco-sword.png
  frontend/src/assets/special-weapons/pluto-alliance-sword.png
  frontend/src/components/NftIcon.vue
  frontend/src/components/WeaponIcon.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/components/smart/PvPWeapon.vue
  frontend/src/components/smart/SpecialWeaponForgeModal.vue
  frontend/src/interfaces/State.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/weapon-arts-placeholder.ts
  migrations/135_quests_weekly.js
  migrations/153_treasury_partner_data_on_chain.js
  migrations/157_special_weapons_data_on_chain.js
Labels: pr-frontend, pr-solidity

#1329 +promo banner
  frontend/src/App.vue
  frontend/src/components/Banner.vue
Labels: pr-frontend

#1310 New game UI blacksmith sidebar
  frontend/src/App.vue
  frontend/src/assets/raid-sidebar/icon-dust.png
  frontend/src/assets/raid-sidebar/icon-map.png
  frontend/src/assets/raid-sidebar/icon-shield.png
  frontend/src/assets/raid-sidebar/icon-sword.png
  frontend/src/components/CharacterBar.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/DustBalanceDisplay.vue
  frontend/src/locales/en.json
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1333 Feat/pvp split contract frontend fixes
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPRewards.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/PvP.vue
Labels: pr-frontend

#1335 Feat/pvp fix ffa arena
  contracts/PvpCore.sol
  migrations/160_pvp_core_fix.js
Labels: pr-solidity

#1337 1336-bridge-junk
  contracts/JunkBridgeProxyContract.sol
  contracts/items/Junk.sol
  migrations/161_bridge_junk_testnet.js
Labels: pr-solidity

#1287 New UI: Staking
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/SelectStakeType.vue
  package-lock.json
  package.json
Labels: pr-frontend

#1343 fix enemy card frame
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1344 rm old store
  frontend/src/store.ts
Labels: pr-frontend

#1342 mute ranking loss
  contracts/PvpArena.sol
  contracts/PvpRankings.sol
Labels: pr-solidity

#1345 Correct elements enums in admin
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
Labels: pr-frontend

#1296 New game UI raid
  frontend/src/App.vue
  frontend/src/assets/bg_raid.png
  frontend/src/assets/btn-long.svg
  frontend/src/assets/buttonOutlineLong.svg
  frontend/src/assets/header-ads.png
  frontend/src/assets/raid-bosses/raid_monster_1.png
  frontend/src/assets/raid-bosses/raid_monster_2.png
  frontend/src/assets/raid-bosses/raid_monster_3.png
  frontend/src/assets/raid-bosses/raid_monster_4.png
  frontend/src/components/CharacterArt.vue
  frontend/src/components/CombatResults.vue
  frontend/src/components/NftIcon.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/smart/AdminTabs/SpecialWeaponsManagerAdmin.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/locales/en.json
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1348 New game UI play to earn
  frontend/src/assets/enter-frame.svg
  frontend/src/components/CardFrame.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/CharacterDisplay.vue
  frontend/src/locales/en.json
  frontend/src/views/PlayToEarn.vue
Labels: pr-frontend

#1347 Fix UI weapon sidebar
  frontend/src/App.vue
  frontend/src/assets/elements/power-icon.svg
  frontend/src/components/CharacterBar.vue
  frontend/src/components/WeaponInvetory.vue
  frontend/src/components/WeaponPopover.vue
  frontend/src/components/smart/WeaponRowGrid.vue
  frontend/src/locales/en.json
  frontend/src/views/Combat.vue
  frontend/src/weapon-element.ts
Labels: pr-frontend

#1353 Force gas prices
  frontend/src/bridge.ts
  frontend/src/contract-call-utils.ts
  frontend/src/store/bridge/index.ts
  frontend/src/store/merchandise/index.ts
  frontend/src/store/pvp/index.ts
  frontend/src/store/quests/index.ts
  frontend/src/store/store.ts
Labels: pr-frontend

#1346 Link nfts to bazaar
  frontend/src/views/NftDisplay.vue
Labels: pr-frontend

#1355 New UI fixes Alignment issues
  frontend/src/App.vue
  frontend/src/views/Combat.vue
  frontend/src/views/PvP.vue
Labels: pr-frontend
