Repository CryptoBlades/cryptoblades, pull requests merged in 2022-02, with the labels that each got.

#1098 Simple quests
  .gitignore
  contracts/BurningManager.sol
  contracts/NFTStorage.sol
  contracts/SafeRandoms.sol
  contracts/SimpleQuests.sol
  contracts/characters.sol
  contracts/items/Junk.sol
  contracts/items/RaidTrinket.sol
  contracts/raid1.sol
  contracts/shields.sol
  contracts/weapons.sol
  frontend/.env.local
  frontend/.env.mainnet
  frontend/.env.testnet
  frontend/app-config.json
  frontend/src/App.vue
  frontend/src/assets/dusts/LesserDust.png
  frontend/src/assets/dusts/greaterDust.png
  frontend/src/assets/dusts/lesserDust.png
  frontend/src/assets/dusts/powerfulDust.png
  frontend/src/components/CharacterArt.vue
  frontend/src/components/CharacterBar.vue
  frontend/src/components/NftIcon.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/AdminMaker.vue
  frontend/src/components/smart/DustBalanceDisplay.vue
  frontend/src/components/smart/MerchandiseList.vue
  frontend/src/components/smart/NftList.vue
  frontend/src/components/smart/OrderSummaryModal.vue
  frontend/src/components/smart/QuestDetails.vue
  frontend/src/components/smart/QuestReward.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/components/smart/QuestsAdmin.vue
  frontend/src/components/smart/WeaponGrid.vue
  frontend/src/contracts.ts
  frontend/src/feature-flags.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/interfaces/Nft.ts
  frontend/src/interfaces/State.ts
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/es.json
  frontend/src/locales/fr.json
  frontend/src/locales/pl.json
  frontend/src/router.ts
  frontend/src/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Admin.vue
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Options.vue
  frontend/src/views/Quests.vue
  migrations/130_simple_quests.js
Labels: pr-frontend, pr-solidity

#1149 Admin panel
  frontend/src/components/NftIcon.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/AdminMaker.vue
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/BurningManagerAdmin.vue
  frontend/src/components/smart/CBKLandAdmin.vue
  frontend/src/components/smart/WeaponsAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Admin.vue
Labels: pr-frontend

#1151 deployed migration 130 to BSC, HECO, AVAX testnets
  .openzeppelin/unknown-256.json
  .openzeppelin/unknown-43113.json
  .openzeppelin/unknown-97.json
  frontend/app-config.json
  networks/networks-256.json
  networks/networks-43113.json
  networks/networks-97.json
Labels: pr-frontend

#1152 treasury and characters bugs upgrade
  contracts/Treasury.sol
  contracts/characters.sol
  frontend/src/views/Plaza.vue
  migrations/131_small_upgrades.js
Labels: pr-frontend, pr-solidity

#1153 Lower gas usage by characters._beforeTokenTransfer()
  contracts/characters.sol
Labels: pr-solidity

#1106 Add getPowerAtLevel() to common.sol
  contracts/PvpArena.sol
  contracts/characters.sol
  contracts/common.sol
Labels: pr-solidity

#1144 Enable recruit button with rewards
  frontend/src/views/Plaza.vue
Labels: type-frontend

#1158 deployed migration 132 to BSC, HECO, AVAX testnets
  .openzeppelin/unknown-256.json
  .openzeppelin/unknown-43113.json
  .openzeppelin/unknown-97.json
  contracts/cryptoblades.sol
  migrations/132_game_upgrade.js
  networks/networks-256.json
  networks/networks-43113.json
  networks/networks-97.json
Labels: pr-solidity

#1159 deployed migration 132 on mainnets
  .openzeppelin/unknown-128.json
  .openzeppelin/unknown-137.json
  .openzeppelin/unknown-43114.json
  .openzeppelin/unknown-56.json
  .openzeppelin/unknown-66.json
  contracts/NFTStorage.sol
  contracts/characters.sol
  networks/networks-128.json
  networks/networks-137.json
  networks/networks-43114.json
  networks/networks-56.json
  networks/networks-66.json
Labels: pr-solidity

#1161 Use hellborn bosses
  frontend/src/raid-boss-art-placeholder.ts
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1150 Feat/pvp leave arena button
  frontend/src/components/smart/PvPArena.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPArenaPreparation.vue
  frontend/src/components/smart/PvPArenaSummary.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1160 bring back the changes in characters / NFTStorage contracts
  contracts/NFTStorage.sol
  contracts/characters.sol
Labels: pr-solidity

#1177 fix raid bg
  frontend/src/assets/background/video-bg.png
  frontend/src/views/Raid.vue
Labels: pr-frontend, type-frontend

#1178 Open Bazaar in new tab, add icon
  frontend/src/components/ViewLinks.vue
Labels: pr-frontend

#1175 refactored and fixed no metamask warning
  frontend/src/App.vue
Labels: pr-frontend

#1124 Feat/pvp shield factor
  contracts/PvpArena.sol
Labels: pr-solidity

#1181 Aurora testnet
  .openzeppelin/unknown-1313161554.json
  .openzeppelin/unknown-1313161555.json
  frontend/app-config.json
  migrations/102_merch_store_tweak.js
  migrations/106_nftstorage_setchainid_on_bridge.js
  migrations/110_pvp_arena.js
  migrations/111_pvp_shield_fix.js
  migrations/112_merchandise_rework_and_duel_fix.js
  migrations/115_pvp_arena_new.js
  migrations/116_pvp_upgrade.js
  migrations/118_pvp_upgrade2.js
  migrations/120_pvp_upgrade3.js
  migrations/121_pvp_arena_mainnet.js
  migrations/122_character_burn.js
  migrations/126_char_burn_mainnet.js
  migrations/12_update_randoms.js
  migrations/130_simple_quests.js
  migrations/28_mainnet_ape_lp_staking.js
  migrations/2_development_deploy_contracts.js
  migrations/37_mainnet_deploy_fresh_skill_for_skill_staking.js
  migrations/4_bscmainnet_deploy_staking.js
  migrations/5_bscmainnet_deploy_another_staking.js
  migrations/61_more_difficult_seed_usage.js
  migrations/65_fix_mint_exploits.js
  migrations/6_bscmainnet_chainlink_randoms.js
  migrations/79_mint_element_and_tweaks.js
  migrations/7_development+bsctestnet_staking.js
  migrations/89_set_values_on_new_chains.js
  migrations/8_main_game.js
  migrations/9_development+bsctestnet_after_game_setup.js
  networks/networks-1313161554.json
  networks/networks-1313161555.json
  package.json
  truffle-config.js
Labels: pr-frontend

#1180 configure multicall address for testnet
  frontend/app-config.json
Labels: pr-frontend

#1182 add nft storage contract address
  frontend/app-config.json
Labels: pr-frontend

#1183 Nft storage config address
  frontend/app-config.json
Labels: pr-frontend

#1184 Nft storage config address
  frontend/app-config.json
  frontend/src/utils/common.ts
Labels: pr-frontend

#1111 Enable characters.safeTransferFrom() from garrison
  contracts/Garrison.sol
  contracts/characters.sol
Labels: pr-solidity

#1140 Remove 'Next Hourly Update' message in Combat page
  frontend/src/locales/en.json
  frontend/src/locales/pl.json
  frontend/src/store.ts
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1139 Skip call to approve() for Skill if within allowance
  frontend/src/contract-call-utils.ts
  frontend/src/store.ts
Labels: pr-frontend

#1193 remove aurora
  frontend/app-config.json
Labels: pr-frontend

#1189 Feat/pvp base100 formula update
  contracts/PvpArena.sol
  contracts/common.sol
  contracts/util.sol
Labels: pr-solidity

#1195 change apeswap link
  frontend/app-config.json
Labels: pr-frontend

#1179 Quests weekly
  contracts/BurningManager.sol
  contracts/PartnerVault.sol
  contracts/SimpleQuests.sol
  contracts/characters.sol
  frontend/public/global.css
  frontend/src/App.vue
  frontend/src/assets/experience.png
  frontend/src/assets/hourglass.png
  frontend/src/assets/questsBackground.png
  frontend/src/assets/reputation.png
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/BurningManagerAdmin.vue
  frontend/src/components/smart/AdminTabs/CBKLandAdmin.vue
  frontend/src/components/smart/AdminTabs/PartnerVaultAdmin.vue
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/AdminTabs/WeaponsAdmin.vue
  frontend/src/components/smart/ClaimRewardsBar.vue
  frontend/src/components/smart/DustBalanceDisplay.vue
  frontend/src/components/smart/EarningsCalculator.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestDetails.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestReward.vue
  frontend/src/components/smart/QuestRewards.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/components/smart/QuestsList.vue
  frontend/src/components/smart/RoleGranter.vue
  frontend/src/components/smart/RoleRevoker.vue
  frontend/src/components/smart/Staking.vue
  frontend/src/contracts.ts
  frontend/src/data/questItems.json
  frontend/src/interfaces/Contracts.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Admin.vue
  frontend/src/views/Quests.vue
  migrations/135_quests_weekly.js
Labels: pr-frontend, pr-solidity

#1191 Special weapons
  contracts/BurningManager.sol
  contracts/NFTStorage.sol
  contracts/PvpArena.sol
  contracts/SkillStakingRewardsUpgradeable.sol
  contracts/SpecialWeaponsManager.sol
  contracts/cryptoblades.sol
  contracts/staking/StakingRewardsUpgradeable.sol
  contracts/weapons.sol
  frontend/app-config.json
  frontend/special-weapons.json
  frontend/src/assets/special-weapons/eventShard.png
  frontend/src/assets/special-weapons/forging.gif
  frontend/src/assets/special-weapons/generalShard.png
  frontend/src/assets/special-weapons/pluto-alliance.png
  frontend/src/components/WeaponIcon.vue
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/PvPWeapon.vue
  frontend/src/components/smart/SpecialWeaponForgeModal.vue
  frontend/src/contract-models.ts
  frontend/src/contracts.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/interfaces/State.ts
  frontend/src/interfaces/Weapon.ts
  frontend/src/locales/en.json
  frontend/src/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/weapon-arts-placeholder.ts
  migrations/136_special_weapons.js
  migrations/7_development+bsctestnet_staking.js
Labels: pr-frontend, pr-solidity

#1197 Use PartnerVault address from SimpleQuests contract
  frontend/src/components/smart/QuestReward.vue
  frontend/src/contracts.ts
  frontend/src/utils/common.ts
Labels: pr-frontend

#1198 update
  frontend/app-config.json
  migrations/136_special_weapons.js
Labels: pr-frontend

#1199 add nft storage upgrade to migration + special weps improvements
  frontend/src/components/smart/PvPArenaMatchMaking.vue
  frontend/src/components/smart/SpecialWeaponForgeModal.vue
  migrations/136_special_weapons.js
Labels: pr-frontend
