Repository CryptoBlades/cryptoblades, pull requests merged in 2022-10, with the labels that each got.

#1661 Enable mint slippage by default
  frontend/src/views/Plaza.vue
Labels: pr-frontend

#1662 Enable mint slippage
  frontend/src/views/Character.vue
  frontend/src/views/Plaza.vue
Labels: pr-frontend

#1663 Read xp gain from chain
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1660 Banner change for octoblades event
  frontend/src/App.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1664 Await updateMintCharacterFee
  frontend/src/views/Character.vue
Labels: pr-frontend

#1665 Fix update mint character fee
  frontend/src/views/Character.vue
Labels: pr-frontend

#1666 Staking options gen2
  contracts/LP2StakingRewardsUpgradeableValor.sol
  contracts/LPStakingRewardsUpgradeableValor.sol
  contracts/SkillStakingRewardsUpgradeable60.sol
  contracts/Treasury.sol
  contracts/ValorStakingRewardsUpgradeable.sol
  contracts/raid1.sol
  migrations/196_new_staking_options.js
Labels: pr-solidity

#1667 new staking options + treasury valor fix
  frontend/src/components/PartneredProject.vue
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/contracts.ts
  frontend/src/interfaces/State.ts
  frontend/src/stake-types.ts
  frontend/src/store/staking/index.ts
Labels: pr-frontend

#1646 Display Issue with Quest Requirements on mobile
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestRow.vue
Labels: pr-frontend

#1669 Fix: SkillBalanceDisplay and NavBar Options now render properly for mobile
  frontend/src/App.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/views/Dashboard.vue
Labels: pr-frontend

#1673 Revenue share staking
  frontend/src/components/StakeSelectorItem.vue
  frontend/src/stake-types.ts
  frontend/src/views/SelectStakeType.vue
Labels: pr-frontend

#1676 Land staking section fix
  frontend/src/locales/en.json
  frontend/src/views/SelectStakeType.vue
Labels: pr-frontend

#1677 Bring back igo
  contracts/cryptoblades.sol
  migrations/197_octoblades_IGO.js
Labels: pr-solidity

#1675 Fix octoblades banner
  frontend/src/components/Banner.vue
Labels: pr-frontend

#1678 Add Village Builder banner in Staking page
  frontend/src/assets/desktop-vb-banner.png
  frontend/src/assets/mobile-vb-banner.png
  frontend/src/views/SelectStakeType.vue
Labels: pr-frontend

#1679 Fix vb desktop banner
  frontend/src/assets/desktop-vb-banner.png
Labels: pr-frontend

#1682 Withdraw fee
  contracts/NFTStorage.sol
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
  migrations/198_bridge_withdraw_fee.js
Labels: pr-frontend, pr-solidity

#1687 fix
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
Labels: pr-frontend

#1688 Character reward quest type
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1689 Gen2 for bridging
  contracts/CBKLandBridgeProxyContract.sol
  contracts/CharactersBridgeProxyContract.sol
  contracts/JunkBridgeProxyContract.sol
  contracts/NFTStorage.sol
  contracts/ShieldBridgeProxyContract.sol
  contracts/WeaponBridgeProxyContract.sol
  contracts/interfaces/IBridgeProxy.sol
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
  migrations/199_gen2_for_gen1_bridge.js
Labels: pr-frontend, pr-solidity

#1697 Gen2 for gen1 improvement
  contracts/CharactersBridgeProxyContract.sol
  contracts/NFTStorage.sol
  contracts/characters.sol
  migrations/200_gen2_for_gen1_bridge_improvement.js
Labels: pr-solidity

#1690 nft-bridge-request-bridge-fee
  contracts/NFTStorage.sol
  frontend/src/store/bridge/index.ts
  frontend/src/views/Bridge.vue
  migrations/201_bridge_bridge_native_fee.js
Labels: pr-frontend, pr-solidity

#1701 exposed matchability checks in pvp core
  contracts/PvpCore.sol
  migrations/202_pvp_info_expose.js
Labels: pr-solidity, type-solidity

#1740 SKILL -> SKULL for halloween
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/locales/en.json
  frontend/src/locales/id.json
  frontend/src/locales/pl.json
  frontend/src/locales/pt.json
  frontend/src/views/Combat.vue
Labels: pr-frontend

#1721 Notification center
  frontend/src/App.vue
  frontend/src/assets/updates.svg
  frontend/src/components/NavBar.vue
  frontend/src/components/Update.vue
  frontend/src/components/UpdatePopup.vue
  frontend/src/components/ViewLinks.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/interfaces/Notification.ts
  frontend/src/interfaces/index.ts
  frontend/src/locales/en.json
  frontend/src/utils/date-time.ts
  frontend/src/views/Updates.vue
Labels: pr-frontend
