Repository CryptoBlades/cryptoblades, pull requests merged in 2022-11, with the labels that each got.

#1758 Correct approvals for NFT Quests
  frontend/src/store/quests/index.ts
Labels: pr-frontend

#1765 Fe adjustments for quests
  frontend/src/components/CharacterArt.vue
  frontend/src/components/CharacterNav.vue
  frontend/src/components/QuestNav.vue
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/Character.vue
  frontend/src/components/smart/DustBalanceDisplay.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestComponentIcon.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestReward.vue
  frontend/src/components/smart/QuestRewards.vue
  frontend/src/components/smart/QuestRow.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/components/smart/QuestTemplatesDisplay.vue
  frontend/src/components/smart/QuestsList.vue
  frontend/src/enums/Quest.ts
  frontend/src/interfaces/Nft.ts
  frontend/src/interfaces/Quest.ts
  frontend/src/interfaces/index.ts
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  frontend/src/utils/common.ts
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1772 Remove octoblades IGO
  contracts/cryptoblades.sol
  migrations/205_remove_octoblades_igo.js
Labels: pr-solidity

#1773 Implement EXTERNAL_HOLD quest type
  contracts/PartnerVault.sol
  contracts/SimpleQuests.sol
  frontend/src/assets/partners/glorypass.png
  frontend/src/components/smart/AdminTabs/QuestsAdmin.vue
  frontend/src/components/smart/QuestActions.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestSubmissionModal.vue
  frontend/src/data/questItems.json
  frontend/src/locales/en.json
  frontend/src/store/quests/index.ts
  migrations/206_hold_nft_per_quest.js
Labels: pr-frontend, pr-solidity

#1643 Excessive reloading on quest page
  frontend/src/components/smart/QuestRow.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1764 Create DEX
  contracts/Dex.sol
  frontend/src/components/smart/AdminTab.vue
  frontend/src/components/smart/AdminTabs/DexAdmin.vue
  frontend/src/contracts.ts
  frontend/src/interfaces/Contracts.ts
  frontend/src/locales/en.json
  frontend/src/store/store.ts
  frontend/src/utils/common.ts
  frontend/src/views/Admin.vue
  migrations/207_dex.js
Labels: pr-frontend, pr-solidity

#1778 update banner
  frontend/src/App.vue
  frontend/src/components/Banner.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1774 Drawbridge Icon showing on BNB again
  frontend/src/utils/common.ts
Labels: pr-frontend

#1782 resolves #1759
  frontend/src/locales/en.json
  frontend/src/views/SelectStakeType.vue
Labels: pr-frontend

#1798 bsc skill address into questItems.json
  frontend/src/data/questItems.json
Labels: pr-frontend

#1801 Unique wallet quests
  contracts/SimpleQuests.sol
  frontend/src/components/smart/QuestRow.vue
  frontend/src/store/quests/index.ts
  frontend/src/views/Quests.vue
  migrations/208_unique_wallet_quests.js
Labels: pr-frontend, pr-solidity

#1802 Fix showing a quest after submission
  frontend/src/components/smart/QuestRow.vue
  frontend/src/data/questItems.json
Labels: pr-frontend

#1804 Add a banner advertising free blade quest
  frontend/src/App.vue
  frontend/src/assets/blade_quest.png
  frontend/src/components/BannerQuest.vue
Labels: pr-frontend

#1806 added pause support to DEX
  contracts/Dex.sol
  migrations/209_dex_access.js
Labels: pr-solidity
