Repository CryptoBlades/cryptoblades, pull requests merged in 2022-07, with the labels that each got.

#1521 1455 chain config variable
  frontend/src/components/BlacksmithNav.vue
  frontend/src/locales/de.json
  frontend/src/locales/en.json
  frontend/src/locales/pl.json
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Character.vue
Labels: pr-frontend

#1525 Implemented changes for - 1514-raid-timer-truncates-hours
  frontend/src/views/Dashboard.vue
  frontend/src/views/Raid.vue
Labels: pr-frontend

#1526 1515 erc20 bridge contract
  contracts/ERC20Bridge.sol
  migrations/179_erc20bridge_white_listing.js
Labels: pr-solidity

#1517 add new raid boss
  frontend/src/assets/raid-bosses/custom/monster1.png
  frontend/src/raid-boss-art-placeholder.ts
Labels: pr-frontend

#1530 Implemented changes for - 1527-select-all-is-not-correctly-changing a…
  frontend/src/components/smart/CharacterList.vue
  frontend/src/raid-boss-art-placeholder.ts
Labels: pr-frontend

#1534 Add exclamation mark to indicate that rewards are depleted
  frontend/src/components/StakeSelectorItem.vue
Labels: pr-frontend

#1536 Add set hourly income var functionality
  frontend/src/components/smart/AdminTabs/CryptoBladesAdmin.vue
  frontend/src/locales/en.json
  frontend/src/store/store.ts
Labels: pr-frontend

#1492 Emit event on Treasury claim
  contracts/Treasury.sol
Labels: pr-solidity

#1541 Initial Indonesian translation
  frontend/src/locales/id.json
Labels: pr-frontend

#1542 Initial Portuguese translation
  frontend/src/locales/pt.json
Labels: pr-frontend

#1543 enable id & pt
  frontend/src/views/Options.vue
Labels: pr-frontend

#1532 correct vuex namespace
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/views/Options.vue
Labels: pr-frontend

#1544 Fix dashboard raid boss
  frontend/src/assets/raid-bosses/custom/monster1.png
  frontend/src/views/Dashboard.vue
Labels: pr-frontend

#1545 add background-color
  frontend/src/App.vue
Labels: pr-frontend

#1551 resolves #1550
  frontend/src/components/BlacksmithNav.vue
  frontend/src/components/CBButton.vue
Labels: pr-frontend

#1549 Fix blacksmith initial load
  frontend/src/views/Blacksmith.vue
Labels: pr-frontend

#1553 Fix 1552
  frontend/src/components/smart/QuestCharacter.vue
  frontend/src/components/smart/QuestRequirements.vue
  frontend/src/components/smart/QuestRewards.vue
  frontend/src/views/Quests.vue
Labels: pr-frontend

#1556 treasury namespace
  frontend/src/components/Options.vue
  frontend/src/components/smart/SkillBalanceDisplay.vue
  frontend/src/views/Options.vue
Labels: pr-frontend

#1557 fix height not filling whole screen
  frontend/src/App.vue
Labels: pr-frontend

#1555 bring back native fee front-end changes + some fixes
  contracts/TokensManager.sol
  contracts/cryptoblades.sol
  frontend/src/store/store.ts
  frontend/src/views/Combat.vue
Labels: pr-frontend, pr-solidity

#1558 fixes
  frontend/src/components/WeaponInvetory.vue
  frontend/src/store/store.ts
  frontend/src/views/Blacksmith.vue
  frontend/src/views/Combat.vue
  frontend/src/views/Dashboard.vue
Labels: pr-frontend

#1559 Bugfix/#1520
  frontend/src/store/store.ts
  migrations/170_anniversary_igo.js
Labels: pr-frontend

#1560 fix fight results not displaying
  frontend/src/store/store.ts
Labels: pr-frontend
