Repository CryptoBlades/cryptoblades, pull requests merged in 2023-01, with the labels that each got.

#1850 Update wiki link
  frontend/src/components/Options.vue
  frontend/src/locales/en.json
Labels: pr-frontend

#1820 automatically disable treasury after all tokens are claimed
  contracts/Treasury.sol
  migrations/212_treasury_auto_removal.js
Labels: pr-solidity

#1823 Dex liquidity removal option
  contracts/Dex.sol
  migrations/213_dex_liquidity_removal.js
Labels: pr-solidity, enhancement

#1859 Add Europa SKL metadata
  frontend/src/assets/partners/europa_skl.png
  frontend/src/data/questItems.json
Labels: pr-frontend

#1860 - Added menu link
  frontend/src/assets/navbar-icons/tavern-icon.png
  frontend/src/components/Options.vue
  frontend/src/locales/en.json
Labels: pr-frontend
